<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="AdvancedOptions">
		<title>Advanced Image Options</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
					<label>These options will take effect only after saving the image and reloading it.</label>
					<style>wxSUNKEN_BORDER</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>General</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer3" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Resolution X:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinResolutionX" member="yes">
									<value>0</value>
									<max>10000</max>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Resolution Y:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinResolutionY" member="yes">
									<value>0</value>
									<max>10000</max>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer5" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>Resolution Unit:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE1" variable="ChoiceResolutionUnit" member="yes">
									<content>
										<item>Not Specified</item>
										<item>Inch</item>
										<item>Cm</item>
									</content>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBoxResolutionOption" member="yes">
									<label>Has Resolution option</label>
									<handler function="OnCheckBoxResolutionOptionClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>JPG Quality</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer6" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
									<label>Poor Quality + small size </label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER1" variable="SliderJPGCompression" member="yes" />
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
									<label>Good Quality + large size</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBoxJPGCompression" member="yes">
							<label>Has JPG Compression option</label>
							<handler function="OnCheckBoxJPGCompressionClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
					<label>PNG Format Options</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer7" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
									<label>PNG Format:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE2" variable="ChoicePNGFormat" member="yes">
									<content>
										<item>0 - Colour PNG</item>
										<item>2 - Grey Scale PNG</item>
										<item>3 - Grey Scale using Red as Grey</item>
									</content>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBoxPNGFormat" member="yes">
									<label>Has PNG Format</label>
									<handler function="OnCheckBoxPNGOptionsClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer8" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
									<label>Bit Depth for R/G/B/A:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE5" variable="ChoicePNGBitDepths" member="yes">
									<content>
										<item>8</item>
										<item>16</item>
									</content>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX4" variable="CheckBoxPNGBitDepth" member="yes">
									<label>Has Bit Depth</label>
									<handler function="OnCheckBoxPNGBitDepthClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="spacer">
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONOK" variable="OKButton" member="yes">
							<label>OK</label>
							<handler function="OnOKButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONCANCEL" variable="CancelButton" member="yes">
							<label>Cancel</label>
							<handler function="OnCancelButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
			</object>
		</object>
	</object>
</wxsmith>
