<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="XPMEditorPanel">
		<size>199,144</size>
		<id_arg>0</id_arg>
		<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
		<handler function="OnDrawCanvasKeyDown" entry="EVT_KEY_DOWN" />
		<object class="wxAuiManager" variable="m_AUIXPMEditor" member="yes">
			<style>wxAUI_MGR_ALLOW_FLOATING|wxAUI_MGR_ALLOW_ACTIVE_PANE|wxAUI_MGR_DEFAULT</style>
			<object class="AuiManagerItem">
				<object class="Custom" name="ID_DRAWCANVASPANEL" subclass="XPMDrawCanvasPanel" variable="DrawCanvasPanel" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT));</creating_code>
					<include_file>XPMDrawCanvasPanel.h</include_file>
					<local_include>1</local_include>
					<style></style>
					<extra_code>UpdateAUIColours(); //Get the same colours as codeblocks configuration&#x0A;</extra_code>
				</object>
				<name>Image</name>
				<standardpanetype>Center</standardpanetype>
				<caption>Image</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Center</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<floatable>0</floatable>
				<movable>0</movable>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="Custom" name="ID_FOLDPANEL" subclass="XPMFoldPanel" variable="FoldPanel" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT));</creating_code>
					<include_file>XPMFoldPanel.h</include_file>
					<local_include>1</local_include>
					<style></style>
				</object>
				<name>Tools</name>
				<standardpanetype>Default</standardpanetype>
				<caption>Tools</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Left</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="Custom" name="ID_INTERFACEPANEL" subclass="XPMInterfacePanel" variable="InterfacePanel" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT));</creating_code>
					<include_file>XPMInterfacePanel.h</include_file>
					<local_include>1</local_include>
					<style></style>
				</object>
				<name>Interface</name>
				<standardpanetype>Default</standardpanetype>
				<caption>Interface</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="Custom" name="ID_COLOURPICKERPANEL" subclass="XPMColourPickerPanel" variable="ColourPicker" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT));</creating_code>
					<include_file>XPMColourPickerPanel.h</include_file>
					<local_include>1</local_include>
					<style></style>
				</object>
				<name>Colours</name>
				<standardpanetype>Default</standardpanetype>
				<caption>Colours</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
	</object>
</wxsmith>
