<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="XPMEditorPanel">
		<id_arg>0</id_arg>
		<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
		<object class="wxBoxSizer" variable="PanelSizer" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>ZOOM:</label>
							<style>wxALIGN_CENTRE</style>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxComboBox" name="ID_COMBOBOX1" variable="ZoomFactor" member="yes">
							<content>
								<item>10%</item>
								<item>25%</item>
								<item>50%</item>
								<item>75%</item>
								<item>100%</item>
								<item>125%</item>
								<item>150%</item>
								<item>175%</item>
								<item>200%</item>
								<item>400%</item>
								<item>800%</item>
								<item>1600%</item>
								<item>Custom</item>
							</content>
							<handler function="OnZoomChanged" entry="EVT_COMBOBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>SIZE:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="BMPWidth" member="yes">
							<value>0</value>
							<max>10000</max>
							<size>71,21</size>
							<handler function="OnBitmapSizeChanged" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>x</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="BMPHeight" member="yes">
							<value>0</value>
							<max>10000</max>
							<size>71,21</size>
							<handler function="OnBitmapSizeChanged" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
							<label>Show Grid</label>
							<enabled>0</enabled>
							<handler function="OnShowGrid" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
			</object>
			<object class="sizeritem">
				<object class="Custom" name="ID_CUSTOM1" subclass="XPMColorPicker" variable="ColourPicker" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),0,wxDefaultValidator,$(NAME));</creating_code>
					<include_file>XPMColorPicker.h</include_file>
					<local_include>1</local_include>
					<style></style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="ToolSizer" member="yes">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxPanel" name="ID_PANEL1" variable="ToolPanel" member="yes">
									<object class="wxBoxSizer" variable="ToolPanelSizer" member="yes">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer6" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_SELECT_BUTN" variable="SelectButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnSelectButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_LASSO_BTN" variable="LassoButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnLassoButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer5" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_PEN_BTN" variable="PenButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnPenButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_BRUSH_BTN" variable="BrushButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnBrushButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer7" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_PIPETTE_BTN" variable="PipetteButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnPipetteButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_FILL_BTN" variable="FillButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnFillButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer10" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_LINE_BTN" variable="LineButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnLineButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_CURVE_BTN" variable="CurveButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnCurveButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer9" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_ERASER_BTN" variable="EraserButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnEraserButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_TEXT_BTN" variable="TextButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnTextButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer11" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_RECTANGLE_BTN" variable="RectangleButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnRectangleButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_POLYGON_BTN" variable="PolygonButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnPolygonButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer8" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_ELLIPSE_BTN" variable="EllipseButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnEllipseButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_ROUNDEDRECT_BTN" variable="RRectButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
														<bitmap_margin>2,2</bitmap_margin>
														<handler function="OnRRectButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="spacer">
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer1" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_SQUARE_BRUSH" variable="SquareBrushButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_CDROM" stock_client="wxART_BUTTON" />
														<bitmap_margin>5,5</bitmap_margin>
														<handler function="OnSquareBrushButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_CIRCLE_BRUSH" variable="CircleBrushButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_CDROM" stock_client="wxART_BUTTON" />
														<bitmap_margin>5,5</bitmap_margin>
														<handler function="OnCircleBrushButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer4" member="no">
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_LRHAIR_BRUSH" variable="RHairBrushButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_CDROM" stock_client="wxART_BUTTON" />
														<bitmap_margin>5,5</bitmap_margin>
														<handler function="OnLHairBrushButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>2</border>
												</object>
												<object class="sizeritem">
													<object class="wxCustomButton" name="ID_LHAIR_BRUSH" variable="LHairBrushButton" member="yes">
														<type>wxCUSTBUT_TOGGLE</type>
														<bitmap stock_id="wxART_CDROM" stock_client="wxART_BUTTON" />
														<bitmap_margin>5,5</bitmap_margin>
														<handler function="OnRHairBrushButtonToggle" entry="EVT_TOGGLEBUTTON" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
													<border>2</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_FONT_BUTTON" variable="FontButton" member="yes">
												<label>FONT</label>
												<handler function="OnFontButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxToggleButton" name="ID_BKMODE_TOGGLEBUTTON" variable="BackgroundButton" member="yes">
												<label>OPAQUE</label>
												<handler function="OnBackgroundButtonToggle" entry="EVT_TOGGLEBUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText4" member="yes">
												<label>Size:</label>
											</object>
											<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="SpinCtrl1" member="yes">
												<value>2</value>
												<min>2</min>
												<max>16</max>
												<size>61,21</size>
												<handler function="OnSpinSizeChanged" entry="EVT_SPINCTRL" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText6" member="yes">
												<label>Radius:</label>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL5" variable="SpinCtrl3" member="yes">
												<value>1</value>
												<min>1</min>
												<max>1000</max>
												<size>20,21</size>
												<handler function="OnSpinRadiusChanged" entry="EVT_SPINCTRL" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText5" member="yes">
												<label>Thickness:</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL4" variable="SpinCtrl2" member="yes">
												<value>1</value>
												<min>1</min>
												<max>16</max>
												<size>20,21</size>
												<handler function="OnSpinSizeChanged" entry="EVT_SPINCTRL" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
										</object>
										<object class="spacer">
											<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
											<border>5</border>
											<option>1</option>
											<size>62,-1</size>
										</object>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="CanvasSizer" member="yes">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="DrawCanvas" member="yes">
									<bg>wxSYS_COLOUR_BTNFACE</bg>
									<style>wxHSCROLL|wxVSCROLL|wxSUNKEN_BORDER</style>
									<handler function="OnDrawCanvasPaint" entry="EVT_PAINT" />
									<handler function="OnDrawCanvasEraseBackground" entry="EVT_ERASE_BACKGROUND" />
									<handler function="OnDrawCanvasChar" entry="EVT_CHAR" />
									<handler function="OnDrawCanvasLeftDown" entry="EVT_LEFT_DOWN" />
									<handler function="OnDrawCanvasLeftUp" entry="EVT_LEFT_UP" />
									<handler function="OnDrawCanvasLeftDClick" entry="EVT_LEFT_DCLICK" />
									<handler function="OnDrawCanvasRightUp" entry="EVT_RIGHT_UP" />
									<handler function="OnDrawCanvasMouseMove" entry="EVT_MOTION" />
									<handler function="OnDrawCanvasMouseLeave" entry="EVT_LEAVE_WINDOW" />
									<handler function="OnDrawCanvasResize" entry="EVT_SIZE" />
									<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextEdit" member="yes">
										<value>Text</value>
										<pos>57,193</pos>
										<style>wxTE_MULTILINE|wxTE_LEFT|wxTE_CENTRE</style>
										<handler function="OnTextEditText" entry="EVT_TEXT" />
										<handler function="OnTextEditTextEnter" entry="EVT_TEXT_ENTER" />
									</object>
									<object class="Custom" name="ID_RESIZECTRL1" subclass="wxResizeCtrl" variable="ResizeCtrl1" member="yes">
										<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
										<include_file>wxResizeCtrl.h</include_file>
										<local_include>1</local_include>
										<pos>198,232</pos>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer12" member="no">
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="sCursorPos" member="yes">
											<label>Cursor at: </label>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
