<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="XPMImagePropertiesPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer8" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="yes">
					<label>Width x Heigth</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="BMPWidth" member="yes">
							<value>0</value>
							<max>10000</max>
							<size>82,21</size>
							<tooltip>Width of the image, in pixels.</tooltip>
							<handler function="OnImageSizeChanged" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>x</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="BMPHeight" member="yes">
							<value>0</value>
							<max>10000</max>
							<size>65,21</size>
							<tooltip>Height of the image, in pixels.</tooltip>
							<handler function="OnImageSizeChanged" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="yes">
					<label>Format</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
							<size>69,21</size>
							<tooltip>Select a format for saving the image. &#x0A;&quot;Automatic&quot; means that the format will be decided based on the file extension (*.jpg is a JPEG, *.png is a PNG, ...). &#x0A;Another format will force the editor to use this format, whatever the file extension is.</tooltip>
							<handler function="OnImageTypeChanged" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
							<label>Advanced</label>
							<tooltip>Advanced images options (compression, resolution, ...)</tooltip>
							<handler function="OnButtonAdvancedPropClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>2</border>
			</object>
		</object>
	</object>
</wxsmith>
