<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="XPMToolPanel">
		<extra_code>wxToolTip::Enable(true);</extra_code>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="ToolPanelSizer" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="ToolButtonsSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_SELECT_BUTN" variable="SelectButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Rectangle selection area</tooltip>
									<help>Left click on the image to set the top-left corner of the area. Move the mouse to set the size of the area. Left click define the area. Holding SHIFT key down will force the area to be a square.</help>
									<handler function="OnSelectButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_LASSO_BTN" variable="LassoButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Complex area selection</tooltip>
									<help>Left-click on the image to select the 1st point of the Polygon. Each additionnal left-click will define a corner of the polygon. Double-Click or Right-Click ends the polygon definition.</help>
									<handler function="OnLassoButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_HOTSPOT_BTN" variable="HotSpotButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Cursor Hot Spot</tooltip>
									<help>This define the location of the Hot Spot, for cursors. There can be only one hot spot. To delete a Hot Spot, simply click outside the image boundaries, or save the image in a format which does not support Hot Spot. Currently, only Windows support HotSpot information in *cur files.</help>
									<handler function="OnHotSpotButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_PIPETTE_BTN" variable="PipetteButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Pipette</tooltip>
									<help>Copy the colour of a pixel. Simply left click on the colour you want to copy. The colour will be copied in the currently selected Line Colour. To copy the colour in Fill Colour instead, hold the SHIFT key down.</help>
									<handler function="OnPipetteButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer5" member="no">
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_PEN_BTN" variable="PenButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Pen</tooltip>
									<help>Draw a single pixel, in the given colour. Select a Line Colour. Keep the left button pressed to draw several pixels at once.</help>
									<handler function="OnPenButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_BRUSH_BTN" variable="BrushButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Brush</tooltip>
									<help>Draw a pattern, like a circle or a square. Select a Line Colour. Select the pattern to draw, and the size in pixel of the pattern (square length, circle radius, ...). Left click on the image to draw the 1st pattern. Keeping the left button pressed will draw more patterns.</help>
									<handler function="OnBrushButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_FILL_BTN" variable="FillButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Flood Fill</tooltip>
									<help>Select a FILL colour (right click) in the Colour Picker. Then left click on the image: the fill colour will be used to replace all the area where the click occured. The fill stops whenever a pixel of another colour than the original colour  is found.</help>
									<handler function="OnFillButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_BUTTONSPRAYCAN" variable="SprayCanButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Cursor Hot Spot</tooltip>
									<help>This define the location of the Hot Spot, for cursors. There can be only one hot spot. To delete a Hot Spot, simply click outside the image boundaries, or save the image in a format which does not support Hot Spot. Currently, only Windows support HotSpot information in *cur files.</help>
									<handler function="OnSprayCanButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_GRADIENTBUTTON" variable="GradientButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Cursor Hot Spot</tooltip>
									<help>This define the location of the Hot Spot, for cursors. There can be only one hot spot. To delete a Hot Spot, simply click outside the image boundaries, or save the image in a format which does not support Hot Spot. Currently, only Windows support HotSpot information in *cur files.</help>
									<handler function="OnGradientButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>2</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer7" member="no">
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_LINE_BTN" variable="LineButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Line</tooltip>
									<help>Select a Line Colour. Choose a Line Style and a Line Thickness.&#x0A;Left Click to indicate the start point. Move the mouse, and left click again to indicate the end point.</help>
									<handler function="OnLineButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_CURVE_BTN" variable="CurveButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Curve</tooltip>
									<help>Select a Line Colour. Choose a Line Style and a Line Thickness.&#x0A;Left Click to indicate the start point. Move the mouse, and left click again to indicate another point. Continue to click to indicater further points. Terminate by Right Click or Double Click.</help>
									<handler function="OnCurveButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_ERASER_BTN" variable="EraserButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Eraser</tooltip>
									<help>Select the size of the eraser. Left click on the image will replace the selected area by the MASK (transparent) colour. When saving, this area will be considered as transparent. Moving the mouse while keeping the left button pressed will erase further area.</help>
									<handler function="OnEraserButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_TEXT_BTN" variable="TextButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Text</tooltip>
									<help>Select a Line Colour (it will be the Text Colour). Select a Fill Colour. Select the Font by Clicking on &quot;FONT&quot;. Toggle Opaque / Transparent to draw the text with a background or not, respectively. Select the text orientation, in degrees (0 means horizontal).&#x0A;Select the draw area by left clicking (see the &quot;Select Rectangle Area&quot; tool). Type your text in the box which appears. The colours, font, orientation, and alignment can still be changed. The text can be moved or resized using the mouse.&#x0A;When finished, click outside the text area.</help>
									<handler function="OnTextButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer10" member="no">
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_RECTANGLE_BTN" variable="RectangleButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Rectangle</tooltip>
									<help>Select a Fill colour and a Line colour. Select a Line Style and a Fill Style. Left click on the image to define the first corner. Move the mouse, and left click again to indicate the second corner. Holding the SHIFT key down will define a Square.</help>
									<handler function="OnRectangleButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_POLYGON_BTN" variable="PolygonButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Polygon</tooltip>
									<help>Left-click on the image to select the 1st point of the Polygon. Each additionnal left-click will define a corner of the polygon. Double-Click or Right-Click ends the polygon definition.</help>
									<handler function="OnPolygonButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_ELLIPSE_BTN" variable="EllipseButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Ellipse / Circle</tooltip>
									<help>Select a Fill colour and a Line colour. Select a Line Style and a Fill Style. The Ellipse or Circle is defined by a rectangular bounding box. Left click on the image to define the first corner of the bounding box. Move the mouse, and left click again to indicate the second corner. Holding the SHIFT key down will define a Circle.</help>
									<handler function="OnEllipseButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCustomButton" name="ID_ROUNDEDRECT_BTN" variable="RRectButton" member="yes">
									<type>wxCUSTBUT_TOGGLE</type>
									<bitmap stock_id="wxART_ADD_BOOKMARK" stock_client="wxART_BUTTON" />
									<bitmap_margin>2,2</bitmap_margin>
									<tooltip>Rounded Rectangle</tooltip>
									<help>Select a Fill colour and a Line colour. Select a Line Style and a Fill Style. Select the radius to be used at the corners.  Left click on the image to define the first corner. Move the mouse, and left click again to indicate the second corner. Holding the SHIFT key down will define a Square with rounded corners.</help>
									<handler function="OnRRectButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>1</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BrushToolSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM4" subclass="wxBitmapComboBox" variable="ComboBrushTool" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID), __(&quot;&quot;),$(POS),$(SIZE), 0, NULL, wxCB__READONLY);</creating_code>
							<include_file>wx/bmpcbox.h</include_file>
							<style></style>
							<tooltip>The line style</tooltip>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="ColourPickerSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM2" subclass="wxColourPickerCtrl" variable="HotSpotColourPicker" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),cHotSpotColour,$(POS),$(SIZE),wxCLRP__SHOW__LABEL,wxDefaultValidator,$(NAME));</creating_code>
							<include_file>wx/clrpicker.h</include_file>
							<style></style>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>2</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="SizeSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText4" member="yes">
							<label>Size:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="SpinCtrl1" member="yes">
							<value>4</value>
							<min>2</min>
							<max>16</max>
							<size>83,21</size>
							<tooltip>Size of the brush, in pixel</tooltip>
							<handler function="OnSpinSizeChanged" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="RadiusSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText6" member="yes">
							<label>Radius:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL5" variable="SpinCtrl3" member="yes">
							<value>1</value>
							<min>1</min>
							<max>1000</max>
							<size>20,21</size>
							<tooltip>Radius of the corner</tooltip>
							<handler function="OnSpinRadiusChanged" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="ThicknessSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText5" member="yes">
							<label>Thickness:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL4" variable="SpinCtrl2" member="yes">
							<value>1</value>
							<min>1</min>
							<max>16</max>
							<size>20,21</size>
							<tooltip>Thickness of the line</tooltip>
							<handler function="OnSpinThicknessChanged" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="FontSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
							<label>Alignment</label>
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer4" member="no">
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="TopLeft" member="yes">
											<label></label>
											<selected>1</selected>
											<tooltip>Top Left Alignment</tooltip>
											<style>wxRB_GROUP</style>
											<handler function="OnTopLeftSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON9" variable="TopCenter" member="yes">
											<label></label>
											<tooltip>Top Center Alignment</tooltip>
											<handler function="OnTopCenterSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON8" variable="TopRight" member="yes">
											<label></label>
											<tooltip>Top Right Alignment</tooltip>
											<handler function="OnTopRightSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_RIGHT|wxALIGN_TOP</flag>
										<border>1</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer9" member="no">
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON7" variable="CenterLeft" member="yes">
											<label></label>
											<tooltip>Center Left Alignment</tooltip>
											<handler function="OnCenterLeftSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON6" variable="CenterCenter" member="yes">
											<label></label>
											<tooltip>Center Center Alignment</tooltip>
											<handler function="OnCenterCenterSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON5" variable="CenterRight" member="yes">
											<label></label>
											<tooltip>Center Right Alignment</tooltip>
											<handler function="OnCenterRightSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxLEFT|wxRIGHT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>1</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer11" member="no">
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON4" variable="BottomLeft" member="yes">
											<label></label>
											<tooltip>Bottom Left Alignment</tooltip>
											<handler function="OnBottomLeftSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="BottomCenter" member="yes">
											<label></label>
											<tooltip>Bottom Center Alignment</tooltip>
											<handler function="OnBottomCenterSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
										<border>1</border>
									</object>
									<object class="sizeritem">
										<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="BottomRight" member="yes">
											<label></label>
											<tooltip>Bottom Right Alignment</tooltip>
											<handler function="OnBottomRightSelect" entry="EVT_RADIOBUTTON" />
										</object>
										<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
										<border>1</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer12" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxToggleButton" name="ID_BACKGROUNDBUTTON" variable="BackgroundButton" member="yes">
									<label>Opaque</label>
									<tooltip>Toggle Opaque (draw a background) / Transparent (draw only text)</tooltip>
									<handler function="OnBackgroundButtonToggle" entry="EVT_TOGGLEBUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_FONTBUTTON" variable="FontButton" member="yes">
									<label>Font</label>
									<tooltip>Select the Font</tooltip>
									<handler function="OnFontButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer3" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText8" member="yes">
									<label>Angle (deg):</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL6" variable="SpinAngle" member="yes">
									<value>0</value>
									<max>360</max>
									<size>72,21</size>
									<tooltip>Text orientation, in degrees.</tooltip>
									<handler function="OnSpinAngleChange" entry="EVT_SPINCTRL" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="PenStyleSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Line Style:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM1" subclass="wxBitmapComboBox" variable="ComboPenStyle" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID), __(&quot;&quot;),$(POS),$(SIZE), 0, NULL, wxCB__READONLY);</creating_code>
							<include_file>wx/bmpcbox.h</include_file>
							<style></style>
							<tooltip>The line style</tooltip>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BrushStyleSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Fill Style:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="Custom" name="ID_CUSTOM3" subclass="wxBitmapComboBox" variable="ComboBrushStyle" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID), __(&quot;&quot;),$(POS),$(SIZE), 0, NULL, wxCB__READONLY );</creating_code>
							<include_file>wx/bmpcbox.h</include_file>
							<style></style>
							<tooltip>The Fill Style</tooltip>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="GradientSizer" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE1" variable="ChoiceGradient" member="yes">
							<content>
								<item>1- Linear</item>
								<item>2- Concentric</item>
							</content>
							<handler function="OnChoiceGradientSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Direction</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE2" variable="ChoiceGradientDirection" member="yes">
							<content>
								<item>To the Top</item>
								<item>To the Bottom</item>
								<item>To the Left</item>
								<item>To the Right</item>
							</content>
							<handler function="OnChoiceGradientDirectionSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
						<border>2</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_BOTTOM</flag>
				<border>1</border>
			</object>
		</object>
	</object>
</wxsmith>
